*{
  margin: 0%;
  padding: 0%;
  list-style: none;
  text-decoration: none;
}

.header {
    overflow: hidden;
    background-color:  #0faf37;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  /* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddd;
    color: black;
  }

  .header a.active {
    background-color: dodgerblue;
    color: white;
  }

  .header-right {
    float: right;
  }

  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  .results_button {
    overflow: hidden;
    background-color: #0faf37;
    padding: 20px 10px;
}

.results_button a {
  color: rgb(230, 225, 225);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.results_button a:hover {
  background-color: rgb(250, 124, 6);
  color: black;
}

@media screen and (max-width: 500px) {
  .results_button a {
    float: none;
    display: block;
    text-align: left;
  }
}

.table_button {
  overflow: hidden;
  background-color: #0faf37;
  padding: 20px 10px;
}

.table_button a {
  color: rgb(230, 225, 225);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.table_button a:hover {
  background-color: rgb(250, 124, 6);
  color: black;
}

@media screen and (max-width: 500px) {
  .table_button a {
    float: none;
    display: block;
    text-align: left;
  }
}



footer{
  overflow: hidden;
  background-color: rgb(250, 124, 6);
  padding: 30px 10px;
  font-size: 25px;
}

.footer1{
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a{
  color:  rgb(230, 225, 225);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  ;
}

footer p{
  float: right;
  color:  rgb(230, 225, 225);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Create two columns that allows the map and the form to float next to each other */
.column {
  float: left;
  margin-top: 6px;
  padding: 20px;
  width: 40%;
}


/* Styles the text input columns on the contact pages*/
input[type=text],
select,
textarea {
  border: 1px solid #555;
  margin-bottom: 16px;
  margin-top: 6px;
  padding: 12px;
  resize: vertical;
  width: 100%;
}

/* Styles the submit button on the contact page */
input[type=submit] {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  padding: 12px 20px;
}

/* When the user hovers over the submit button, it changes colour to 
grey; the same grey used all over the website.*/
input[type=submit]:hover {
  background-color: #555;
}

/* Clear floats after the columns */
.row:after {
  clear: both;
  content: "";
  display: table;
}

.top-contact {
  text-align: center;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;

}


/* Responsive layout - when the screen is less than 600px wide, the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .column,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Makes text responsive for mobile devices */
@media screen and (max-width: 600px) {
  .container {
    padding: 7%;
  }
}

/* Makes text responsive for mobile devices */
@media screen and (max-width: 600px) {
  .top-contact {
    padding: 7%;
  }
}
